[submodule "MicrocontrollerDriver/microphone-library-for-pico"]
	path = MicrocontrollerDriver/microphone-library-for-pico
	url = https://github.com/ArmDeveloperEcosystem/microphone-library-for-pico.git
[submodule "MicrocontrollerDriver/--name"]
	path = MicrocontrollerDriver/--name
	url = https://github.com/raspberrypi/pico-sdk.git
